@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .products{
        @apply grid gap-2 md:grid-cols-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-5
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior:smooth
}